<h3>Tag Clouds</h3>

<p><strong>Tag Clouds management is under development.</strong></p>

<p>The original plugin settings are available in the main Tags tab.</p>

<% if defined?(@tag_clouds) && @tag_clouds %>
  <table class="list">
    <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @tag_clouds.each do |cloud| %>
      <tr>
        <td><%= h cloud.name %></td>
        <td>
          <% if defined?(@project) && @project %>
            <%= link_to 'Edit', edit_project_tag_cloud_path(@project, cloud) %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<% if defined?(@project) && @project %>
  <%= link_to 'New Tag Cloud', new_project_tag_cloud_path(@project), class: 'icon icon-add' %>
<% end %>