<h2><%= l(:label_new_tag_cloud, default: 'New Tag Cloud') %></h2>

<%= form_for [@project, @tag_cloud], html: { class: 'tabular' } do |f| %>
  <%= render partial: 'form', locals: { f: f } %>
<% end %>

<% content_for :sidebar do %>
  <%= render partial: 'tags/sidebar' rescue nil %>
<% end %>